
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 300rem;
}.home-page-Ks3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.home-page-Ks3 .navbar-vbw {
  margin-bottom: 12.8rem;
  box-sizing: border-box;
  padding: 1.2rem 9.8rem;
  width: 100%;
  height: 7.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.home-page-Ks3 .navbar-vbw .quickfunds-kjP {
  margin-right: 19.1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 0.015rem;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.home-page-Ks3 .navbar-vbw .quickfunds-kjP .quickfunds-kjP-sub-0 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 0.015rem;
  color: #1b424c;
  font-family: DM Sans, 'Source Sans Pro';
}
.home-page-Ks3 .navbar-vbw .quickfunds-kjP .quickfunds-kjP-sub-1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 0.015rem;
  color: #39c160;
  font-family: DM Sans, 'Source Sans Pro';
}
.home-page-Ks3 .navbar-vbw .auto-layout-horizontal-uGq {
  margin: 1rem 18.15rem 1rem 0rem;
  height: calc(100% - 2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-Ks3 .navbar-vbw .auto-layout-horizontal-uGq .frame-7-Nw7 {
  margin-right: 4.75rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-Ks3 .navbar-vbw .auto-layout-horizontal-uGq .frame-7-Nw7 .home-hTb {
  margin-bottom: 0.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .navbar-vbw .auto-layout-horizontal-uGq .frame-7-Nw7 .line-1-PLR {
  width: 4.8rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .navbar-vbw .auto-layout-horizontal-uGq .services-XSd {
  margin-right: 4.65rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05rem;
  color: #484d4e;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .navbar-vbw .auto-layout-horizontal-uGq .how-we-work-RH7 {
  margin-right: 4.65rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05rem;
  color: #484d4e;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .navbar-vbw .auto-layout-horizontal-uGq .about-us-wFT {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05rem;
  color: #484d4e;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .navbar-vbw .stylefilled-4L5 {
  width: 12.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #2a6877;
  box-sizing: border-box;
  background-color: #2a6877;
  border-radius: 5rem;
  flex-shrink: 0;
}
.home-page-Ks3 .hero-section-fqf {
  margin: 0rem 9.8rem 12.8rem 9.8rem;
  width: calc(100% - 19.6rem);
  height: 42.0937rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-Ks3 .hero-section-fqf .information-kMK {
  margin: 1.797rem 3.673rem 1.797rem 0rem;
  width: 56.3rem;
  height: calc(100% - 3.5937rem);
  flex-shrink: 0;
}
.home-page-Ks3 .hero-section-fqf .information-kMK .information-2-rQM {
  margin-bottom: 2.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-page-Ks3 .hero-section-fqf .information-kMK .information-2-rQM .quick-and-easy-loans-for-your-financial-needs-Cj7 {
  margin-bottom: 1.6rem;
  max-width: 54.4rem;
  font-size: 6.8rem;
  font-weight: 700;
  line-height: 1.1176470588;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: Raleway, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-page-Ks3 .hero-section-fqf .information-kMK .information-2-rQM .our-loan-services-offer-a-hassle-free-and-streamlined-borrowing-experience-providing-you-with-the-funds-you-need-in-a-timely-manner-to-meet-your-financial-requirements-saM {
  max-width: 56.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.05rem;
  color: #424445;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-page-Ks3 .hero-section-fqf .information-kMK .styleoutlined-v2q {
  width: 13.3rem;
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #2a6877;
  box-sizing: border-box;
  border-radius: 5rem;
}
.home-page-Ks3 .hero-section-fqf .illustartion-M89 {
  width: 64.4304rem;
  height: 42.0941rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws {
  margin-bottom: 10.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb {
  box-sizing: border-box;
  padding: 3.65rem 11.6rem 2.994rem 8.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(280.33deg, rgba(200, 228, 221, 0.6000000238) 146.46%, rgba(205, 228, 223, 0.6000000238) 170.18%, rgba(207, 228, 224, 0.6000000238) 173.73%, rgba(222, 227, 230, 0.6000000238) 202.68%);
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .our-services-82R {
  margin: 0rem 0rem 4.456rem 1.1rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3949999809;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 {
  margin-bottom: 4.4rem;
  width: 100%;
  height: 35.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 {
  box-sizing: border-box;
  padding: 0.3rem 3.3rem 0.204rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 .frame-3-4KP {
  margin: 0.3rem 3.1rem 0.312rem 0rem;
  box-sizing: border-box;
  padding: 2.8rem 3rem 2.8rem 3rem;
  width: 40.1rem;
  height: calc(100% - 0.6124rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0 #000000;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0500000007);
  background-color: rgba(240, 241, 243, 0.200000003);
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 .frame-3-4KP .vector-cdj {
  margin: 0rem 0rem 1.7rem 0rem;
  width: 7.8167rem;
  height: 9.5171rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 .frame-3-4KP .personal-loan-6J1 {
  margin: 0rem 0rem 1.866rem 0.1rem;
  font-size: 3.3rem;
  font-weight: 500;
  line-height: 0.7272727273;
  letter-spacing: 0.05rem;
  color: #1b424c;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 .frame-3-4KP .personal-loans-provide-borrowers-with-flexibility-in-how-they-use-the-funds-KgZ {
  margin-bottom: 0.1rem;
  max-width: 34.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.05rem;
  color: #6e6868;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 .frame-3-4KP .styleoutlined-MNM {
  margin: 0 10.9rem;
  width: calc(100% - 21.8rem);
  height: 4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(42, 104, 119, 0.4900000095);
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 .frame-6-had {
  box-sizing: border-box;
  padding: 2.9rem 3.65rem 2.9rem 3.65rem;
  width: 39.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0 #f0f1f3;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0500000007);
  background-color: rgba(240, 241, 243, 0.200000003);
  border-radius: 3.8rem;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 .frame-6-had .group-5-PiM {
  margin: 0rem 12.808rem 2.1rem 12.808rem;
  box-sizing: border-box;
  padding: 2.795rem 1.679rem 4.04rem 2.97rem;
  width: calc(100% - 25.6167rem);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-nT7.png');
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 .frame-6-had .group-5-PiM .vector-GXF {
  margin: 0.123rem 1.102rem 0rem 0rem;
  width: 0.7937rem;
  height: 1.9375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 .frame-6-had .group-5-PiM .vector-CA1 {
  margin-bottom: 1.7492rem;
  width: 0.2382rem;
  height: 0.311rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 .frame-6-had .business-loan-h6m {
  margin: 0rem 1.7rem 2.1rem 0rem;
  font-size: 3.3rem;
  font-weight: 500;
  line-height: 0.7272727273;
  letter-spacing: 0.05rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 .frame-6-had .business-loan-services-provide-financial-assistance-to-businesses-for-various-purposes-Mh7 {
  margin-bottom: 0.5rem;
  max-width: 32.4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.05rem;
  color: #7f7a7a;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .auto-group-mfxr-jY1 .frame-6-had .styleoutlined-r85 {
  margin: 0 10.05rem;
  width: calc(100% - 20.1rem);
  height: 4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(42, 104, 119, 0.4900000095);
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .frame-5-do3 {
  box-sizing: border-box;
  padding: 1.8rem 3.1rem 3.129rem 3.1rem;
  width: 38.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0 #f0f1f3;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0500000007);
  background-color: rgba(240, 241, 243, 0.200000003);
  border-radius: 3.8rem;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .frame-5-do3 .group-6-LBf {
  margin: 0rem 12.558rem 2.7rem 12.558rem;
  box-sizing: border-box;
  padding: 0.557rem 0.957rem 1.538rem 0.955rem;
  width: calc(100% - 25.1167rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector.png');
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .frame-5-do3 .group-6-LBf .vector-QSR {
  margin: 0rem 0rem 2.041rem 3.034rem;
  width: 1.1045rem;
  height: 3.0782rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .frame-5-do3 .group-6-LBf .auto-group-ddrp-JAR {
  margin-bottom: 0.2843rem;
  width: 4.8712rem;
  height: 1.092rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .frame-5-do3 .group-6-LBf .vector-dTb {
  margin-right: 0.0122rem;
  width: 1.6929rem;
  height: 0.2799rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .frame-5-do3 .auto-loan-Lso {
  margin-bottom: 2.7rem;
  font-size: 3.3rem;
  font-weight: 500;
  line-height: 0.7272727273;
  letter-spacing: 0.05rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .frame-5-do3 .auto-loan-services-provide-financing-options-for-individuals-businesses-to-purchase-a-vehicle-ffB {
  margin-bottom: 0.7005rem;
  max-width: 31.9rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.05rem;
  color: #7f7a7a;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .auto-group-fkyy-CY5 .frame-5-do3 .styleoutlined-wsb {
  margin: 0 9.8rem;
  width: calc(100% - 19.6rem);
  height: 4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(42, 104, 119, 0.4900000095);
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-layout-horizontal-1Tb .styleoutlined-VGq {
  margin: 0rem 50.4rem 0rem 53.8rem;
  width: calc(100% - 104.2rem);
  height: 4.9rem;
  overflow: hidden;
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: 0.05rem;
  color: #f0f1f3;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0 #2a6877;
  box-sizing: border-box;
  background-color: #2a6877;
  border-radius: 5rem;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd {
  box-sizing: border-box;
  padding: 7.4rem 7.4rem 0rem 7.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-9Vo {
  margin: 0rem 41.8rem 6.3rem 41.8rem;
  width: calc(100% - 83.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-9Vo .how-we-works--GKX {
  margin-bottom: 1.4rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.175;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-9Vo .this-is-a-process-how-you-can-get-loan-for-your-self-BhP {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.05rem;
  color: #424445;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-eL5 {
  margin: 0rem 8.2rem 7.527rem 17.42rem;
  width: calc(100% - 25.62rem);
  height: 27.44rem;
  position: relative;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-eL5 .card1-MEV {
  width: 52.28rem;
  height: 27.44rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-eL5 .card1-MEV .image-5-tER {
  margin-right: 10.02rem;
  width: 31.56rem;
  height: 27.44rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-eL5 .card1-MEV .item-01-25j {
  margin-top: 3.4063rem;
  font-size: 9.52rem;
  font-weight: 700;
  line-height: 0.5861344646;
  letter-spacing: 0.045rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-eL5 .infomation-K4q {
  width: 54.8rem;
  height: 19.8rem;
  position: absolute;
  left: 48.78rem;
  top: 4.75rem;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-eL5 .infomation-K4q .application-ESh {
  margin-bottom: 2.4rem;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.696969697;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-eL5 .infomation-K4q .the-borrower-submits-a-loan-application-to-the-bank-either-in-person-online-or-through-other-channels-the-application-includes-personal-and-financial-information-such-as-income-employment-history-credit-score-and-the-purpose-of-the-loan-ZE5 {
  max-width: 54.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.05rem;
  color: #424445;
  font-family: DM Sans, 'Source Sans Pro';
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-group-rpe5-KsT {
  margin: 0rem 14.9rem 3.026rem 0rem;
  width: 107.9rem;
  height: 27.9507rem;
  position: relative;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-group-rpe5-KsT .auto-layout-horizontal-dt9 {
  width: 103.8261rem;
  height: 27.9507rem;
  position: absolute;
  left: 0;
  top: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-group-rpe5-KsT .auto-layout-horizontal-dt9 .infomation-Nqj {
  width: 54.3rem;
  height: 19.8rem;
  position: absolute;
  left: 5.2rem;
  top: 4.1826rem;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-group-rpe5-KsT .auto-layout-horizontal-dt9 .infomation-Nqj .documentation-and-verification-VfT {
  margin-bottom: 2.4rem;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.696969697;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-group-rpe5-KsT .auto-layout-horizontal-dt9 .infomation-Nqj .the-bank-requests-supporting-documents-from-the-borrower-such-as-identification-proof-income-statements-bank-statements-and-collateral-details-if-applicable-the-bank-verifies-the-information-provided-to-assess-the-borrowers-creditworthiness-and-eligibility-for-the-loan-QnR {
  max-width: 54.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.05rem;
  color: #424445;
  font-family: DM Sans, 'Source Sans Pro';
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-group-rpe5-KsT .auto-layout-horizontal-dt9 .card1-huw {
  box-sizing: border-box;
  padding: 0.0001rem 0;
  width: 103.8261rem;
  height: 27.9507rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-group-rpe5-KsT .auto-layout-horizontal-dt9 .card1-huw .item-02-y6m {
  margin: 2.839rem 65.401rem 0rem 0rem;
  font-size: 9.52rem;
  font-weight: 700;
  line-height: 0.5861344646;
  letter-spacing: 0.045rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-group-rpe5-KsT .auto-layout-horizontal-dt9 .card1-huw .lefthand-eih {
  width: 27.0249rem;
  height: 27.9187rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-group-rpe5-KsT .in-case-you-havent-found-the-answer-to-your-questionplease-fool-free-to-contact-us-support-will-be-happy-to-help-you-Bid {
  width: 22.2rem;
  height: 19.1rem;
  position: absolute;
  left: 85.7rem;
  top: 3.3388rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7666666243;
  letter-spacing: 0.045rem;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-zRB {
  margin: 0rem 8.5rem 0.554rem 19.061rem;
  width: calc(100% - 27.5611rem);
  height: 34.7016rem;
  position: relative;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-zRB .card1-6z1 {
  box-sizing: border-box;
  padding: 0.001rem 0rem 0.001rem 0rem;
  width: 53.2389rem;
  height: 34.7016rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-zRB .card1-6z1 .card-bvm {
  margin-right: 8.6909rem;
  width: 33.248rem;
  height: 34.6988rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-zRB .card1-6z1 .item-03-jXB {
  margin-top: 6.2617rem;
  font-size: 9.52rem;
  font-weight: 700;
  line-height: 0.5861344646;
  letter-spacing: 0.045rem;
  color: rgba(0, 0, 0, 0.2899999917);
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-zRB .infomation-FEd {
  width: 54.5rem;
  height: 17.4rem;
  position: absolute;
  left: 47.1389rem;
  top: 8.756rem;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-zRB .infomation-FEd .credit-assessment-myf {
  margin-bottom: 2.4rem;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.696969697;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-zRB .infomation-FEd .the-bank-conducts-a-credit-assessment-to-evaluate-the-borrowers-creditworthiness-and-ability-to-repay-the-loan-this-process-involves-analyzing-the-borrowers-credit-history-income-stability-debt-to-income-ratio-and-other-factors-Vuf {
  max-width: 54.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.05rem;
  color: #424445;
  font-family: DM Sans, 'Source Sans Pro';
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-jZ7 {
  margin-right: 18.3rem;
  width: 110.9rem;
  height: 32.3rem;
  position: relative;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-jZ7 .infomation-Tk1 {
  width: 52.9rem;
  height: 17.4rem;
  position: absolute;
  left: 8.4rem;
  top: 7.9rem;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-jZ7 .infomation-Tk1 .loan-approval-b5X {
  margin-bottom: 2.4rem;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.696969697;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-jZ7 .infomation-Tk1 .if-the-borrower-meets-the-banks-lending-criteria-and-passes-the-credit-assessment-the-loan-is-approved-the-bank-determines-the-loan-amount-interest-rate-repayment-term-and-any-associated-fees-KXK {
  max-width: 52.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.05rem;
  color: #424445;
  font-family: DM Sans, 'Source Sans Pro';
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-jZ7 .card1-NEh {
  box-sizing: border-box;
  padding: 0.001rem 0.039rem 0.001rem 0rem;
  width: 110.9rem;
  height: 32.3rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-jZ7 .card1-NEh .item-04-gWH {
  margin: 5.505rem 57.1rem 0rem 0rem;
  font-size: 9.52rem;
  font-weight: 700;
  line-height: 0.5861344646;
  letter-spacing: 0.05rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .how-it-works-section-Tws .auto-group-fqus-Etd .auto-layout-horizontal-jZ7 .card1-NEh .auto-group-6drf-abf {
  width: 42.3607rem;
  height: 32.2616rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH {
  width: 100%;
  height: 127.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu {
  width: 144rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 {
  margin-bottom: 0rem;
  box-sizing: border-box;
  padding: 9rem 12.5rem 8.9rem 12.5rem;
  width: 100%;
  height: 78.4rem;
  display: flex;
  align-items: center;
  background: linear-gradient(280.33deg, rgba(200, 228, 221, 0.6000000238) 146.46%, rgba(205, 228, 223, 0.6000000238) 170.18%, rgba(207, 228, 224, 0.6000000238) 173.73%, rgba(222, 227, 230, 0.6000000238) 202.68%);
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-29-7V7 {
  margin-right: 24.5rem;
  width: 45.6rem;
  height: 100%;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-29-7V7 .about-us-rxV {
  margin-bottom: 1.4rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3949999809;
  letter-spacing: 0.05rem;
  color: #2a6877;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-29-7V7 .frame-28-mZf {
  box-sizing: border-box;
  padding-top: 0.0003rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-29-7V7 .frame-28-mZf .table-6M3 {
  margin: 0rem 0rem 3.4rem 0.003rem;
  width: 36.6535rem;
  height: 36.9995rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-29-7V7 .frame-28-mZf .quickfunds-your-trusted-financial-partner-for-loans-quick-approvals-competitive-rates-and-personalized-solutions-to-meet-your-unique-needs-empowering-you-to-achieve-your-financial-goals-apply-online-today-caH {
  max-width: 45.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.015rem;
  color: #424545;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-30-SpD {
  margin: 8.3rem 0rem 8.4rem 0rem;
  box-sizing: border-box;
  padding: 4.5rem 4.7rem 4.5rem 4.65rem;
  width: 48.9rem;
  height: calc(100% - 16.7rem);
  overflow: hidden;
  position: relative;
  row-gap: 2.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2.1rem;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-30-SpD .frame-32-vDb {
  margin-left: 0.05rem;
  width: calc(100% - 0.05rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-30-SpD .frame-32-vDb .your-name-rsw {
  margin-bottom: 0.7rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.175;
  letter-spacing: 0.05rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-30-SpD .frame-32-vDb .frame-31-BQR {
  width: 100%;
  height: 4.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #746e6e;
  box-sizing: border-box;
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-30-SpD .frame-33-i9T {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-30-SpD .frame-33-i9T .phone-number-sY9 {
  margin-bottom: 0.7rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.175;
  letter-spacing: 0.05rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-30-SpD .frame-33-i9T .frame-31-C4d {
  margin-left: 0.05rem;
  width: 39.5rem;
  height: 4.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #746e6e;
  box-sizing: border-box;
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-30-SpD .frame-34-ujj {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-30-SpD .frame-34-ujj .email-address-fyo {
  margin-bottom: 0.7rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.175;
  letter-spacing: 0.05rem;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-30-SpD .frame-34-ujj .frame-31-Ciq {
  margin-left: 0.05rem;
  width: 39.5rem;
  height: 4.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #746e6e;
  box-sizing: border-box;
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-CN9 .frame-30-SpD .stylefilled-8Mb {
  margin: 0rem 13.5rem 0rem 13.55rem;
  width: calc(100% - 27.05rem);
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #2a6877;
  box-sizing: border-box;
  background-color: #2a6877;
  border-radius: 5rem;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad {
  box-sizing: border-box;
  padding: 15.2rem 15.7rem 15.2rem 15.8rem;
  width: 100%;
  height: 49.2rem;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/auto-layout-horizontal-bg.png');
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-18-N9T {
  margin-right: 26.0274rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-18-N9T .quickfunds-WWZ {
  margin-bottom: 2.4rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 0.015rem;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-18-N9T .quickfunds-WWZ .quickfunds-WWZ-sub-0 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-18-N9T .quickfunds-WWZ .quickfunds-WWZ-sub-1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 0.015rem;
  color: #39c160;
  font-family: DM Sans, 'Source Sans Pro';
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-18-N9T .our-mission-is-to-empower-individuals-and-businesses-by-providing-them-with-the-financial-resources-they-need-to-achieve-their-goals-fRP {
  max-width: 35.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-18-N9T .frame-17-jw3 {
  box-sizing: border-box;
  padding: 0rem 0rem 0rem 0.001rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-18-N9T .frame-17-jw3 .speechbubble-GRB {
  margin-right: 1.5998rem;
  width: 1.972rem;
  height: 2.0005rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-18-N9T .frame-17-jw3 .speechbubble-nuK {
  margin: 0rem 1.6rem 0rem 0rem;
  width: 1.9729rem;
  height: 2.0002rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-18-N9T .frame-17-jw3 .isolationmode-HbB {
  margin: 0rem 1.6rem 0rem 0rem;
  width: 1.9726rem;
  height: 2.0003rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-18-N9T .frame-17-jw3 .speechbubble-opR {
  width: 1.9726rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b {
  margin: 0.15rem 0rem 0.05rem 0rem;
  height: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-20-GCD {
  margin: 0.25rem 12.5rem 0.25rem 0rem;
  width: 15.7rem;
  height: calc(100% - 0.5rem);
  row-gap: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-20-GCD .frame-19-AYV {
  width: 100%;
  height: 3.3rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.0909090909;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #ffffff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-20-GCD .personal-loan-TGh {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.115rem;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-20-GCD .business-loan-z1j {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.115rem;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-20-GCD .education-loan-XGZ {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.115rem;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-20-GCD .auto-loan-s5X {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.115rem;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-25-Q5T {
  width: 22.5726rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-25-Q5T .auto-group-lx9w-Lzh {
  box-sizing: border-box;
  padding-bottom: 1.5rem;
  width: 100%;
  row-gap: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-25-Q5T .auto-group-lx9w-Lzh .frame-21-5xH {
  margin-right: 8.5726rem;
  height: 3.3rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.0909090909;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #ffffff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-25-Q5T .auto-group-lx9w-Lzh .frame-22-NRb {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding-left: 0.0001rem;
  width: calc(100% - 2.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-25-Q5T .auto-group-lx9w-Lzh .frame-22-NRb .speechbubble-uAd {
  margin: 0rem 1.8rem 0.099rem 0rem;
  width: 1.9725rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-25-Q5T .auto-group-lx9w-Lzh .frame-22-NRb .item-91-99999-99999-bZF {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.115rem;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-25-Q5T .auto-group-lx9w-Lzh .frame-23-JyT {
  margin-right: 1.2rem;
  width: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-25-Q5T .auto-group-lx9w-Lzh .frame-23-JyT .speechbubble-4Bw {
  margin: 0rem 1.8rem 0.1rem 0rem;
  width: 1.9726rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-25-Q5T .auto-group-lx9w-Lzh .frame-23-JyT .xyzfh5gmailcom-ag5 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.115rem;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-25-Q5T .frame-24-i1b {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-25-Q5T .frame-24-i1b .speechbubble-fSd {
  margin: 0rem 1.799rem 0rem 0rem;
  width: 1.9736rem;
  height: 1.9997rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .frame-27-FSu .auto-layout-horizontal-Fad .frame-26-97b .frame-25-Q5T .frame-24-i1b .address-line-1-address-line-2-city-state-pin-code-PNd {
  max-width: 18.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.115rem;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .group-7-TdP {
  margin: 82.506rem 23.9rem 39.494rem 0rem;
  width: 4.5rem;
  height: calc(100% - 122rem);
  position: relative;
  flex-shrink: 0;
}
.home-page-Ks3 .auto-group-g5th-hgH .group-7-TdP .rectangle-17-yLq {
  width: 4.5rem;
  height: 4.3269rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #50ac97;
}
.home-page-Ks3 .auto-group-g5th-hgH .group-7-TdP .item--h1w {
  width: 1.9rem;
  height: 5.6rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 1.2681818008;
  letter-spacing: 0.045rem;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
